@model IEnumerable<TP4.Models.Movie>

<h1>Movies by User Defined Genre</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Movie Added</th>
            <th>Photo</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.MovieAdded</td>
                <td>
                    <img src="@item.Photo" alt="Movie Image" style="width: 150px; height: 100px;" />
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>